.contact-page {
    padding-top: 100px; /* Ensure there's space between the navbar and the contact card */
    margin-top: 89 px;
  }
  
  header {
    margin-top: 20px; /* Additional margin if needed */
  }
  
  .container {
    padding-top: 20px;
  }
  